.side-bar{
    background-color: white;
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 72px;
    z-index: 200px;
    
}
.side-bar-link{
    height: 73px; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor: pointer;
      
}
.side-bar-link:hover{
   background-color: rgb(224, 219, 219); 
}
.side-bar-link img{
    height: 25px;
    margin-bottom: 4px;
    
}
.side-bar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}